/* colors */
/* hovers */
/* fonts */
html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  background-color: #F4F8FB;
}

.ppal {
  margin: 0;
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__logo {
  margin: 0;
  width: 10%;
  margin-left: 1.5em;
  padding: 1em;
}

.ejercicios {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fil {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desco {
  margin: 1%;
  padding: 0;
  width: 45%;
  height: 85%;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-content: center;
  background-color: white;
}

.desco__text {
  width: 100%;
  height: 60%;
  margin: 1em;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desco__title {
  width: 100%;
  margin: .5em;
  padding: 0;
  color: #F94673;
  text-align: center;
  font-size: 1.5vw;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.desco__subtitle {
  width: 100%;
  margin: .5em;
  padding: 0;
  color: black;
  text-align: center;
  font-size: 1vw;
  letter-spacing: .1em;
}

.desco__paragraph {
  width: 80%;
  margin: 1em;
  padding: 0;
  color: #808F9F;
  text-align: center;
  font-size: 0.9vw;
  letter-spacing: .1em;
}

.desco__link {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.desco__button {
  margin: 0;
  width: 100%;
}

.desco__btn {
  margin: 1%;
  width: 50%;
  padding: 1em;
  color: #F4F8FB;
  font-size: 0.9vw;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-weight: bold;
  background: #F94673;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
}

.desco__btn:hover {
  background: #D83A62;
  color: #F4F8FB;
  transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
}

.abst {
  margin: 1%;
  padding: 0;
  width: 45%;
  height: 85%;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-content: center;
  background-color: white;
}

.abst__text {
  width: 100%;
  height: 60%;
  margin: 1em;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.abst__title {
  width: 100%;
  margin: .5em;
  padding: 0;
  color: #1F8DED;
  text-align: center;
  font-size: 1.5vw;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.abst__subtitle {
  width: 100%;
  margin: .5em;
  padding: 0;
  color: black;
  text-align: center;
  font-size: 1vw;
  letter-spacing: .1em;
}

.abst__paragraph {
  width: 80%;
  margin: 1em;
  padding: 0;
  color: #808F9F;
  text-align: center;
  font-size: 0.9vw;
  letter-spacing: .1em;
}

.abst__link {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.abst__button {
  margin: 0;
  width: 100%;
}

.abst__btn {
  margin: 1%;
  width: 50%;
  padding: 1em;
  color: #F4F8FB;
  font-size: 0.9vw;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-weight: bold;
  background: #1F8DED;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
}

.abst__btn:hover {
  background: #176FBB;
  color: #F4F8FB;
  transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
}

.gene {
  margin: 1%;
  padding: 0;
  width: 45%;
  height: 85%;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-content: center;
  background-color: white;
}

.gene__text {
  width: 100%;
  height: 60%;
  margin: 1em;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gene__title {
  width: 100%;
  margin: .5em;
  padding: 0;
  color: #0EE788;
  text-align: center;
  font-size: 1.5vw;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.gene__subtitle {
  width: 100%;
  margin: .5em;
  padding: 0;
  color: black;
  text-align: center;
  font-size: 1vw;
  letter-spacing: .1em;
}

.gene__paragraph {
  width: 80%;
  margin: 1em;
  padding: 0;
  color: #808F9F;
  text-align: center;
  font-size: 0.9vw;
  letter-spacing: .1em;
}

.gene__link {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.gene__button {
  margin: 0;
  width: 100%;
}

.gene__btn {
  margin: 1%;
  width: 50%;
  padding: 1em;
  color: #F4F8FB;
  font-size: 0.9vw;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-weight: bold;
  background: #0EE788;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
}

.gene__btn:hover {
  background: #0AB068;
  color: #F4F8FB;
  transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
}

.depu {
  margin: 1%;
  padding: 0;
  width: 45%;
  height: 85%;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-content: center;
  background-color: white;
}

.depu__text {
  width: 100%;
  height: 60%;
  margin: 1em;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.depu__title {
  width: 100%;
  margin: .5em;
  padding: 0;
  color: #5457C1;
  text-align: center;
  font-size: 1.5vw;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.depu__subtitle {
  width: 100%;
  margin: .5em;
  padding: 0;
  color: black;
  text-align: center;
  font-size: 1vw;
  letter-spacing: .1em;
}

.depu__paragraph {
  width: 80%;
  margin: 1em;
  padding: 0;
  color: #808F9F;
  text-align: center;
  font-size: 0.9vw;
  letter-spacing: .1em;
}

.depu__link {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.depu__button {
  margin: 0;
  width: 100%;
}

.depu__btn {
  margin: 1%;
  width: 50%;
  padding: 1em;
  color: #F4F8FB;
  font-size: 0.9vw;
  letter-spacing: .2em;
  text-transform: uppercase;
  font-weight: bold;
  background: #5457C1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
}

.depu__btn:hover {
  background: #3D4096;
  color: #F4F8FB;
  transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
}
/*# sourceMappingURL=ejercicios.css.map */