<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../Styles/ejercicios.css">

    <title>Techhase | Actividades Diagnosticas</title>
</head>

<body>

    <header class="ppal">
        <section class="menu">
            <a href="../index.html" class="menu">
                <img src="../Imagenes/Logo horizontal.png" alt="Techhase" class="menu__logo">
            </a>
        </section>
    </header>

    <div class="ejercicios">
        <script src="../Scripts/Ejercicios.js"></script>
        <div class="fil">
            <! --PRIMER EJERCICIO-->
                <div class="desco">
                    <section class="desco__text">
                        <h1 class="desco__title">Descomposición</h2>
                            <h2 class="desco__subtitle">¡Vamos a descomponer!</h2>
                            <p class="desco__paragraph">La descomposición es una habilidad que consiste en hacer un problema muy complejo en partes más simples y manejables.                            Realiza este ejercicio y se un experto descomponiendo.
                            </p>
                    </section>
                    <section class="desco__button">
                        <a href="Ejercicio1.html" class="desco__link" id="desco__link"><button class="desco__btn" id="desco__btn"> Empezar
                            </button></a>
                    </section>
                </div>

                <! --SEGUNDO EJERCICIO-->
                    <div class="abst">
                        <section class="abst__text">
                            <h1 class="abst__title">Abstracción</h2>
                                <h2 class="abst__subtitle">¡Vamos a razonar!</h2>
                                <p class="abst__paragraph">El razonamiento abstracto nos ayuda a resolver problemas lógicos, deduciendo que va a suceder a partir de una situación planteada.    Descubre y analiza los siguientes ejercicios ahora.</p>
                        </section>
                        <section class="abst__button">
                            <a href="Ejercicio2.html" class="abst__link" id="abst__link"><button class="abst__btn" id="abst__btn"> Empezar
                                </button></a>
                        </section>
                    </div>
        </div>

        <div class="fil">
            <! --TERCER EJERCICIO-->
                <div class="gene">
                    <section class="gene__text">
                        <h1 class="gene__title">Generalización</h2>
                            <h2 class="gene__subtitle">¡Diseñemos algoritmos!</h2>
                            <p class="gene__paragraph">Todos sabemos resolver problemas y lo hacemos constantemente, pero la generalización trata de ser muy específicos para dar órdenes al ordenador y que las entienda correctamente.
                            </p>
                    </section>
                    <section class="gene__button">
                        <a href="Ejercicio3.html" class="gene__link" id="gene__link"><button class="gene__btn" id="gene__btn"> Empezar
                            </button></a>
                    </section>
                </div>

                <! --CUARTO EJERCICIO-->
                    <div class="depu">
                        <section class="depu__text">
                            <h1 class="depu__title">Depuración</h2>
                                <h2 class="depu__subtitle">¡Vamos a evaluar!</h2>
                                <p class="depu__paragraph">La depuración es nuestra habilidad deductiva a la hora de encontrar errores en el código, necesitamos tener una visión general del problema y analizar cada paso o cada acción que realicemos.
                                </p>
                        </section>
                        <section class="depu__button">
                            <a href="Ejercicio4.html" class="depu__link" id="depu__link"><button class="depu__btn" id="depu__btn"> Empezar
                                </button></a>
                        </section>
                    </div>
        </div>
    </div>

</body>

</html>