<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../Styles/ejercicio3.css">
    <script src="../Scripts/ejercicio3.js"></script>

    <title>Techhase | Generalización</title>
</head>

<body>
    <script src="../Libs/p5.js"></script>
    <header class="ppal">
        <section class="menu">
            <a href="Ejercicios.html" class="menu">
                <img src="../Imagenes/Logo horizontal.png" alt="Techhase" class="menu__logo">
            </a>
        </section>
    </header>

    <div class="ejercicios">

        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <h2 class="modal-content__subtitle">Instrucciones</h2>
                <p class="modal-content__paragraph">En este ejercicio para empezar deberás armar un rompecabezas sobre
                    un platillo específico.
                    <br><br>
                    Esta imagen será la clave para hacer una detallada descripción de cómo prepararías este platillo, recuerda ser los más detallado y específico posible, empezando desde la
                    recolección de cada uno de los ingredientes hasta la presentación del plato.</p>
                <a class="form__link"><button class="modal-content__btn" id="myBtn">Continuar</button>
                </a>
            </div>
        </div>

        <div class="fil">
            <! --PRIMER EJERCICIO-->
                <div class="ejer">
                    <section class="ejer__text">
                        <h1 class="ejer__title">Rompecabezas</h2>
                            <h2 class="ejer__subtitle">¡Armémoslo!</h2>
                            <p class="ejer__paragraph">Primero arma el rompecabezas para escribir la receta.</p>
                    </section>
                    <section class="ejer__ejer" id="Generalizacion">
                        <script src="../Scripts/Generalizacion/Pieza.js"></script>
                        <script src="../Scripts/Generalizacion/Generalizacion.js"></script>
                    </section>
                </div>
        </div>

        <div class="fil">
            <! --CUADRO DE TIEMPO-->
                <div class="time">
                    <section class="time__text">
                        <h1 class="time__title">¡Contra el reloj!</h2>
                            <p class="time__paragraph">Tienes 3:00 minutos para realizar este ejercicio, concentrate y
                                vence el reloj, si lo deseas puedes tomarte más tiempo</p>

                    </section>

                    <section class="time__button">
                        <a href="#" class="time__link" id="btnLink"><button class="time__btn" id="time__btn"> 4:59
                            </button></a>
                    </section>
                </div>

                <! --CUADRO DE SOLUCIÓN-->
                    <div class="solu">
                        <section class="solu__text">
                            <h1 class="solu__title">Solucionalo</h2>
                                <h2 class="solu__subtitle">Describe como harías ese platillo</h2>
                                <p class="solu__paragraph">Sé lo más específico posible al respecto, no saltes ningún
                                    detalle. Empieza con la recolección de los ingredientes. ¿Cuáles son? ¿En qué
                                    cantidad? ¿Cómo es el resultado del plato? ¿Lo decorarías?
                                </p>
                                <section class="solu__here">
                                    <textarea name="comentarios" rows="3" cols="2" class="solu__input" id="solu__imput"
                                        placeholder="¿Cómo prepararías este platillo?"></textarea>
                                </section>
                    </div>
        </div>
    </div>

</body>

</html>