<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../Styles/experiencia.css">

    <title>Techhase | Experiencia</title>
</head>

<body>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-analytics.js"></script>
    <script src="../Scripts/SaveFirebase.js"></script>
    <script src="../Scripts/Final.js"></script>
    <header class="ppal">
        <section class="menu">
            <a href="../index.html" class="menu">
                <img src="../Imagenes/Logo horizontal.png" alt="Techhase" class="menu__logo">
            </a>
        </section>
    </header>

    <div class="formu">
        <! --FORMULARIO-->
            <div class="form">
                <section class="form__text">
                    <h1 class="form__title">Gracias por participar </h2>
                        <h2 class="form__subtitle">¡Ayudanos a ser mejores!</h2>
                        <p class="form__paragraph">Dinos tu sincera opinión sobre cada una de las actividades que
                            realizaste.</p>
                </section>
                <section class="form__form">
                    <div class="form__1">
                        <p class="form__question">¿Cómo te parecio el ejercicio de descomposición?</p>
                        <p class="form__desc">Descomposición era el ejercicio de las figuras</p>
                        <select id="ExperienciaEjecicio1" class="form__select">
                            <option disabled selected> Selecciona una opción... </option>
                            <option value="1">Pésimo</option>
                            <option value="2">Muy malo</option>
                            <option value="3">Malo</option>
                            <option value="4">Bueno</option>
                            <option value="5">Muy bueno</option>
                            <option value="6">Excelente</option>
                        </select>
                    </div>

                    <div class="form__1">
                        <p class="form__question">¿Cómo te parecio el ejercicio de abstracción?</p>
                        <p class="form__desc">Abstracción eran los cuatro ejercicios lógicos</p>
                        <select id="ExperienciaEjecicio2" class="form__select">
                            <option disabled selected> Selecciona una opción... </option>
                            <option value="1">Pésimo</option>
                            <option value="2">Muy malo</option>
                            <option value="3">Malo</option>
                            <option value="4">Bueno</option>
                            <option value="5">Muy bueno</option>
                            <option value="6">Excelente</option>
                        </select>
                    </div>

                    <div class="form__1">
                        <p class="form__question">¿Cómo te parecio el ejercicio de generalización?</p>
                        <p class="form__desc">Generalización era el rompecabezas del platillo de comida</p>
                        <select id="ExperienciaEjecicio3" class="form__select">
                            <option disabled selected> Selecciona una opción... </option>
                            <option value="1">Pésimo</option>
                            <option value="2">Muy malo</option>
                            <option value="3">Malo</option>
                            <option value="4">Bueno</option>
                            <option value="5">Muy bueno</option>
                            <option value="6">Excelente</option>
                        </select>
                    </div>

                    <div class="form__1">
                        <p class="form__question">¿Cómo te parecio el ejercicio de depuración?</p>
                        <p class="form__desc">Depuración era el nonograma (rompecabezas japonés)</p>
                        <select id="ExperienciaEjecicio4" class="form__select">
                            <option disabled selected> Selecciona una opción... </option>
                            <option value="1">Pésimo</option>
                            <option value="2">Muy malo</option>
                            <option value="3">Malo</option>
                            <option value="4">Bueno</option>
                            <option value="5">Muy bueno</option>
                            <option value="6">Excelente</option>
                        </select>
                    </div>

                    <div class="form__1">
                        <p class="form__question">¿Qué fue lo que menos te gusto de todo el test?</p>
                        <input type="text" id="menos" class="form__input" placeholder="Lo que menos me gustó fue...">
                    </div>

                    <div class="form__1">
                        <p class="form__question">¿Qué fue lo que más te gusto de todo el test?</p>
                        <input type="text" id="mas" class="form__input" placeholder="Lo que más me gustó fue...">
                    </div>

                </section>
                <section class="form__button">
                    <!--  -->
                    <a href="#" class="form__link" id="form__link"><button class="form__btn" id="myBtn">Finalizar </button>
                    </a>

                </section>
            </div>
    </div>

</body>

</html>