<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../Styles/experiencia.css">

    <title>Techhase | Experiencia</title>
</head>

<body>
    <header class="ppal">
        <section class="menu">
            <a href="Index.html" class="menu">
                <img src="../Imagenes/Logo horizontal.png" alt="Techhase" class="menu__logo">
            </a>
        </section>
    </header>

    <div class="formu">
        <! --FORMULARIO-->
            <div class="form">
                <section class="form__text">
                    <h1 class="form__title">Gracias por participar </h2>
                        <h2 class="form__subtitle">¡Ayudanos a ser mejores!</h2>
                        <p class="form__paragraph">Dinos tu sincera opinión sobre cada una de las actividades que realizaste.</p>
                </section>
                <section class="form__form">
                    <div class="form__1">
                        <p class="form__question">¿Cómo te parecio el ejercicio de descomposición?</p>
                        <select id="tiempo-programacion" class="form__select">
                            <option disabled selected> Selecciona una opción... </option>
                            <option value="pesimo">Pésimo</option>
                            <option value="muy malo">Muy malo</option>
                            <option value="malo">Malo</option>
                            <option value="bueno">Bueno</option>
                            <option value="muy bueno">Muy bueno</option>
                            <option value="excelente">Excelente</option>
                        </select>
                    </div>

                    <div class="form__1">
                        <p class="form__question">¿Cómo te parecio el ejercicio de abstracción?</p>
                        <select id="tiempo-programacion" class="form__select">
                            <option disabled selected> Selecciona una opción... </option>
                            <option value="pesimo">Pésimo</option>
                            <option value="muy malo">Muy malo</option>
                            <option value="malo">Malo</option>
                            <option value="bueno">Bueno</option>
                            <option value="muy bueno">Muy bueno</option>
                            <option value="excelente">Excelente</option>
                        </select>
                    </div>

                    <div class="form__1">
                        <p class="form__question">¿Cómo te parecio el ejercicio de generalización?</p>
                        <select id="tiempo-programacion" class="form__select">
                            <option disabled selected> Selecciona una opción... </option>
                            <option value="pesimo">Pésimo</option>
                            <option value="muy malo">Muy malo</option>
                            <option value="malo">Malo</option>
                            <option value="bueno">Bueno</option>
                            <option value="muy bueno">Muy bueno</option>
                            <option value="excelente">Excelente</option>
                        </select>
                    </div>

                    <div class="form__1">
                        <p class="form__question">¿Cómo te parecio el ejercicio de depuración?</p>
                        <select id="tiempo-programacion" class="form__select">
                            <option disabled selected> Selecciona una opción... </option>
                            <option value="pesimo">Pésimo</option>
                            <option value="muy malo">Muy malo</option>
                            <option value="malo">Malo</option>
                            <option value="bueno">Bueno</option>
                            <option value="muy bueno">Muy bueno</option>
                            <option value="excelente">Excelente</option>
                        </select>
                    </div>

                    <div class="form__1">
                        <p class="form__question">¿Qué fue lo que menos te gusto de todo el test?</p>
                        <input type="text" id="menos" class="form__input" placeholder="Lo que menos me gustó fue...">
                    </div>

                    <div class="form__1">
                        <p class="form__question">¿Qué fue lo que más te gusto de todo el test?</p>
                        <input type="text" id="mas" class="form__input" placeholder="Lo que más me gustó fue...">
                    </div>

                </section>
                <section class="form__button">
                    <!--  -->
                    <button class="form__btn" id="myBtn">Finalizar </button>

                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <img src="../Imagenes/Check-vector.png" alt="Check" class="modal-content__img">
                            <h2 class="modal-content__subtitle">Tus datos se han enviado correctamente.</h2>
                            <p class="modal-content__paragraph">Ahora empecemos con las actividades diagnosticas,
                                esperamos sean de tu agrado y te diviertas realizandolas.</p>
                            <a href="Ejercicios.html" class="form__link"><button class="modal-content__btn"
                                    id="myBtn">Continuar</button>
                            </a>
                        </div>

                    </div>

                </section>
            </div>
    </div>

</body>

</html>