<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../Styles/final.css">

    <title>Techhase | Gracias por participar</title>
</head>

<body>
    <div class="ppal">
        <section class="content">
            <img src="../Imagenes/Logo solo.png" class="content__logo">
            <h2 class="content__subtitle">TechHase te agradece</h2>
            <p class="content__paragraph">Muchas gracias por tu participación en el test, por tu colaboración
                difundiendo y tu apoyo realizandolo.
                <br><br>
                Esperamos haya sido de tu agrado</p>
        </section>
    </div>
</body>

</html>