<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../Styles/form.css">
    
    <title>Techhase | Encuesta corta</title>
</head>

<body>
    <script src="../Scripts/main.js"></script>
    <header class="ppal">
        <section class="menu">
            <a href="../index.html" class="menu">
                <img src="../Imagenes/Logo horizontal.png" alt="Techhase" class="menu__logo">
            </a>
        </section>
    </header>

    <div class="formu">
        <! --FORMULARIO-->
            <div class="form">
                <section class="form__text">
                    <h1 class="form__title">Bienvenidos</h2>
                        <h2 class="form__subtitle">¡Estamos muy felices de tenerte aquí!</h2>
                        <p class="form__paragraph">Por medio de actividades diagnosticas deseamos obtener información
                            sobre las habilidades de razonamiento lógico formal y resolución de problemas, con el fin de
                            recolectar datos para trabajo de campo en Proyecto de Grado I.
                            <br><br>
                            Tus datos no se compartirán con nadie a parte de nosotros, por eso tus respuestas son muy
                            importantes para nosotros, por favor contesta con honestidad.
                            <br><br>
                            Gracias por tu colaboración.</p>
                </section>
                <section class="form__form">
                    <div class="form__1">
                        <p class="form__question">Inserte nombre y apellido</p>
                        <p class="form__desc">Ejemplo: Pepito Arnulfo Perez</p>
                        <input type="text" id="nombre" class="form__input" placeholder="Escribir inicial del nombre y apellido">
                    </div>

                    <div class="form__1">
                        <p class="form__question">¿Qué edad tienes?</p>
                        <p class="form__desc">Escribir solo el número. Ejemplo: Si tienes veinte, escribes (20).</p>
                        <input type="text" id="edad" class="form__input" placeholder="Escribir la edad en número">
                    </div>

                    <div class="form__1">
                        <p class="form__question">¿A qué Universidad perteneces?</p>
                        <input type="text" id="universidad" class="form__input" placeholder="Escribir la universidad">
                    </div>

                    <div class="form__1">
                        <p class="form__question">¿A qué carrera perteneces?</p>
                        <p class="form__desc">Si estas en busca de una, escribe la carrera a la que quieres pertenecer.
                        </p>
                        <input type="text" id="carrera" class="form__input" placeholder="Escribir la carrera">
                    </div>

                    <div class="form__1">
                        <p class="form__question">¿En qué semestre te encuentras?</p>
                        <p class="form__desc">Escribir solo el número. Ejemplo: Si estás en semestre tres, escribes (3).
                            En el caso de estar graduado, escribir (Graduado)</p>
                        <input type="text" id="semestre" class="form__input" placeholder="Escribir el semestre en número">
                    </div>

                    <div class="form__1">
                        <p class="form__question">¿Has programado?</p>
                        <select id="tiempo-programacion" class="form__select">
                            <option disabled selected> Selecciona una opción... </option>
                            <option value="1">Nunca</option>
                            <option value="2">Menos de 1 año</option>
                            <option value="3">Menos de 2 años</option>
                            <option value="4">De 2 a 9 años</option>
                            <option value="5">9 años o más</option>
                        </select>
                    </div>

                    <div class="form__1">
                        <p class="form__question">¿Cuántos días a la semana programas?</p>
                        <p class="form__desc">Escribir solo el número. En el caso de haber contestado 'nunca' en la anterior pregunta, escribir (0)</p>
                        <input type="text" id="dias-programacion" class="form__input" placeholder="Escribir cantidad de días en semana">
                    </div>

                    <div class="form__1">
                        <p class="form__question">¿Cómo te consideras programando?</p>
                        <select id="considera-programacion" class="form__select">
                            <option disabled selected> Selecciona una opción... </option>
                            <option value="1">Pésimo</option>
                            <option value="2">Muy malo</option>
                            <option value="3">Malo</option>
                            <option value="4">Bueno</option>
                            <option value="5">Muy bueno</option>
                            <option value="6">Excelente</option>
                        </select>
                    </div>
                </section>
                <section class="form__button">
                    <!--  -->
                    <button class="form__btn" id="form__btn">Enviar</button>

                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <img src="../Imagenes/Check-vector.png" alt="Check" class="modal-content__img">
                            <h2 class="modal-content__subtitle">Tus datos se han enviado correctamente.</h2>
                            <p class="modal-content__paragraph">Ahora empecemos con las cuatro actividades diagnosticas,
                                esperamos sean de tu agrado y te diviertas realizandolas.</p>
                            <a href="Ejercicios.html" class="form__link"><button class="modal-content__btn"
                                    id="myBtn">Continuar</button>
                            </a>
                        </div>

                    </div>

                </section>
            </div>
    </div>

</body>

</html>